<br/>

@model Department

<form asp-controller="Department" asp-action="Create">
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name"></span>
<br />
<button type="submit" class="btn btn-primary">Create</button>



</form>

